---
---

section {
	margin: 20px 0;
}

#footer {
	margin-top: 40px;
	padding: 40px 0;
}

.marketing-icon {
	font-size: 80px;
	margin: 0;
	width: 96px;
	height: 96px;
	line-height: 96px;
	color: gray;
}

.media-heading {
	font-weight: bold;
}

#marketing .media {
	margin-bottom: 20px;
}

#marketing .media-body {
	text-align: justify;
}